*{
    padding: 0%;
    margin: 0%;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Game win div*/
.gamewin{
    height: 380px;
    width: 310px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.791);
    visibility: hidden;
}
.gamewin .happyemoji{
    height: 200px;
    width: 200px;
}
.winn{
    color: white;
    margin: 5px 5px 0px 5px;
}
.gamewin b{
    color: white;
    font-size: 17px;
    margin: 5px 5px 5px 5px;
}
.gamewin button{
    background-color: blueviolet;
    color: black;
    font-size: 20px;
    padding: 6px;
    border-radius: 4px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
}
.gamewin button:hover{
    background-color: rgba(163, 90, 233, 0.83);
}
/*Game win div end*/
/* Sad Emoji Div*/
.gamefail{
    height: 380px;
    width: 310px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.791);
    visibility: hidden;
}
.gamefail .sademoji{
    height: 200px;
    width: 200px;
}
.gameover{
    color: white;
    margin: 5px 5px 0px 5px;
}
.gamefail p{
    font-size: 20px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}
.gamefail p b{
    font-size: 22px;
    color: red;
    font-weight: bold;
}
.gamefail button{
    background-color: blueviolet;
    color: black;
    font-size: 20px;
    padding: 6px;
    border-radius: 4px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
}
.gamefail button:hover{
    background-color: rgba(163, 90, 233, 0.83);
}
/*Sad emoji end */
.mainContainer{
    height: 70vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 16px;
}
/*Image container css*/
.mainContainer .imageContainer{
    height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imageContainer img{
    height:55vh;
    width: 25vw;
}
.imageContainer h1{
    margin-top: 10px;
    text-transform: uppercase;
}
/*maincontainer container css*/
.mainContainer .gamebox{
    height: 70vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamebox .unorderdList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 20px 20px 20px;

}
.unorderdList .letters{
    height: 3vh;
    width: 3vw;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
}
/*Hint css*/
.gamebox .hint{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 10px 20px 10px 20px;
}
.hint .hints{
    margin-left: 5px;
}
/*incorrect gusses css*/
.gamebox .incorrectgusses{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 10px 20px 10px 20px;
}
.gamebox .incorrectgusses b{
    color: red;
    font-weight: bold;
}
/* Buttons css*/
.gamebox .buttons{
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px 20px 20px 20px;
}
.buttons button{ 
    border-radius: 4px;
    background-color: blueviolet;
    font-size: 20px;
    padding: 4px;
    width: calc(100% / 9 - 5px);
    cursor: pointer;
    text-transform: uppercase;
}
.buttons button:hover{
    background-color: rgba(137, 43, 226, 0.607);
}